.App {
    display:inline-block;
    text-align: center;
    width:100%;
    margin-top:30px;
    /* white-space: nowrap; */
    
}

.App ul li {
  display:inline-block;
  white-space:nowrap;
  background-color:rgb(153, 189, 177);
  font-family:Arial;
  margin-right:100px;
  padding:10px 20px;
  font-size: 14px;
  }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.activeLink{
  color: #ffffff;
  background-color: salmon;
  padding: 2px;
  margin: 10px;
}